.app {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app__step {
    width: 80%;
}

.app__instructors {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.app__instructor {
    margin: 10px 0;
}

.app__instructor--selected {
    background-color: #1d5d90;
    color: white;
}